html {
  font-size: 14px;
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 0px;
}

label {
    font-weight: normal !important
}

.folder:not(.open)::before {
    content: "🗀 ";
    color: darkorange;
}

.folder.open::before {
    content: "🗁▼";
    color: darkorange;
}

.badge-length {
    background: yellow;
    border-radius: 4px;
}

.content-part {
    position: absolute;
    overflow: overlay;
    bottom: 0;
    top: 44px;
    left: 0;
    width: 99%;
}

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 2px;
}

.modal-header{
    border-bottom:none;
}

.Mb {
    background: #cf8806;
    border-radius: 4px;
    color: white;
    padding: 0px 2px;
}
.Kb {
    background: #06cf63;
    border-radius: 4px;
    color: white;
    padding: 0px 2px;
}
.very_big_file {
    background: #990000;
}
.big_file {
    background: red;
}

.btn-check:active + .btn-outline-dark:focus, .btn-check:checked + .btn-outline-dark:focus, .btn-outline-dark.active:focus, .btn-outline-dark.dropdown-toggle.show:focus, .btn-outline-dark:active:focus,
.btn-check:active + .btn-outline-secondary:focus, .btn-check:checked + .btn-outline-secondary:focus, .btn-outline-secondary.active:focus, .btn-outline-secondary.dropdown-toggle.show:focus, .btn-outline-secondary:active:focus {
    box-shadow: 0 0 0 0 !important;
}
.btn-check:focus + .btn-outline-dark, 
.btn-check:focus + .btn-outline-secondary {
    box-shadow: 0 0 0 0 !important;
}

table label, table small {
    text-wrap-mode: nowrap;
}

@media only screen and (max-width: 766px) {
    .folder-div {
        position: fixed !important;
        z-index: 3;
        background: white;
        min-width:50%;
    }
}
@media only screen and (max-width: 400px) {
    .folder-div {
        min-width: 80%;
    }
}

.btn-link {
    text-decoration: none;
}
.btn-outline-dark:hover img {
    filter: invert(1);
}